:root {
    --primary-color: #E22E6F;
    --faded-primary-color: #e2a6bc;
    --accent-color: #1ABC6E;
    --text-color: #F9F9F9;
    --background-color: #333748;
    --background-light-color: #F9F9F9;
    --text-light-color: #F9F9F9;
    --text-dark-color: #333748;
}

.primary {
    color: var(--primary-color);
}

.accent {
    color: var(--accent-color);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'), url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--background-color);

    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    width: 100%;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.btn {
    padding: 10px 35px;

    border: none;
    border-radius: 30px;

    background-color: var(--primary-color);

    color: var(--text-light-color);
    cursor: pointer;
    font-size: .81rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    transition: background-color 0.3s ease;
    transition: color 0.3s ease;

    user-select: none;
}

.btn:hover {
    background-color: var(--text-light-color);
    color: var(--primary-color);
}

.btn:active {
    background-color: var(--text-light-color);
    color: var(--faded-primary-color);
    transition: none;
}

.btn:focus {
    outline: none;
    /* Optionally, add a style for the focus state, such as a box-shadow */
}

.btn:disabled,
.btn[disabled],
.btn.disabled {
    cursor: not-allowed;
    pointer-events: visible;
}

.btn:disabled:active,
.btn[disabled]:active,
.btn.disabled:active {
    cursor: not-allowed;
    pointer-events: visible;
    color: var(--primary-color);
}


/* LAYOUT */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
    height: 5rem;
}

.ns-logo {
    height: 20px;
    -webkit-mask: url(../img/main_logo.svg) no-repeat center / contain;
    mask: url(../img/main_logo.svg) no-repeat center / contain;
    background-color: var(--text-color);
    display: inline-block;
    width: 280px;
    height: 20px;
}

a:has(> .ns-logo):hover {
    opacity: 1;
}

.main-content {
    flex: 1;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.copyright {
    text-align: center;
    margin-top: 1.5rem;

    font-size: 0.75rem;
}

/* TEXT FORMATTING */
.small {
    font-size: 0.85em;
}